.nav {
    grid-area: nav;
    background-color: rgba(0, 131, 126, 0.7);
}

.item a{
    color: white;
}

a.active {
    color: #f10c0c;
}

.friends{
    display: flex;
    justify-content: space-around;
}

.friend{
    width: 40px;
    height: 40px;
    background-color: gold;
    border-radius: 50px;
}

.friendName{
    text-align: center;
}