body {
    background-image: radial-gradient(#000000 1px, transparent 1px);
    background-size: 21px 21px;
    background-color: rgba(3, 3, 3, 0);
}

a{
    text-decoration: none;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: auto;

    grid-template-areas:
    "header header"
    "nav content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}





