/*
.content  {
    grid-area: c;
    background-color: #506dff;
}*/

.dialogs{
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 10px;
}

.dialogsItem .active {
    color: gold;
}

.dialog{
    display: flex;
    align-items: center;
    margin: 5px 5px;
    cursor: pointer;
}

.messages{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.dialogsImg{
    width: 50px;
    height: 50px;
    padding: 5px 10px 5px 0;
    border-radius: 50%;
}
.textareaBox{
    padding: 10px 10%;
    display: flex;
    justify-content: end;
    vertical-align: center;
}
.textareaText{
    width: 70%;
}
.textareaBtn{
    height: 35px;
    margin-left: 2%;
    width: 15%;
}
