/*
.content  {
    grid-area: c;
    background-color: #506dff;
}*/

.dialogs{
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 10px;
}

.dialogsItem .active {
    color: gold;
}

.dialog{
    display: flex;
    align-items: center;
    margin: 5px 5px;
    cursor: pointer;
}

.messages{
    padding: 10px;
}

.dialogsImg{
    width: 50px;
    height: 50px;
    padding: 5px 10px 5px 0;
    border-radius: 50%;
}